### JetBrains stuff
.idea/
*iml
*ipr
out/
*iws
.idea_modules/
# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# CMake
cmake-build-*/

# JIRA plugin
atlassian-ide-plugin.xml



### Java
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
target/
